section {
    background-color: $primaryColor;
    color: $secondaryColor;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 25rem;
    padding: 3rem 5rem;

    &:nth-of-type(odd) {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;

        p {
            background-color: $primaryColor;
            color: $secondaryColor;
            padding: 1.25rem;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
    }
    &:first-of-type {
        background-image: url("https://picsum.photos/id/1067/600/400");
        height: 100vh;
    }
    &:nth-of-type(3){
        background-image: url("https://picsum.photos/id/1033/600/400");
    }
    &:nth-of-type(5){
        background-image: url("https://picsum.photos/id/1029/600/400");
    }
    &:nth-of-type(7){
        background-image: url("https://picsum.photos/id/250/600/400");
    }
}